<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/auth/login}" th:object="${user}" method="post">
    <label>Username:</label>
    <input type="text" th:field="*{username}" /><br/>

    <label>Password:</label>
    <input type="password" th:field="*{password}" /><br/>

    <button type="submit">Login</button>
</form>

<p th:if="${error}" th:text="${error}"></p>
<p th:if="${message}" th:text="${message}"></p>
</body>
</html>
