<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Model List</title>
</head>
<body>
<h1>Model List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tag</th>
        <th>Price</th>
        <th>모델선택여부</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="model : ${models}">
        <td th:text="${model.id}">ID</td>
        <td th:text="${model.name}">Name</td>
        <td th:text="${model.tag}">Tag</td>
        <td th:text="${model.price}">Price</td>
    </tr>
    </tbody>
</table>
</body>
</html>
